.jumbotron {
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}
.selecionado {
    background-color: rgba(0, 172, 207, .3)
}