.ui-alert {
    background-color: #f2dede;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.ui-alert-title {
    color: #AF4341;
    font-weight: bold;
    font-size: 25px;
}


.ui-alert-message {
    color: #AF4341;
}

.ui-accordion-title {
    background-color: #c4c4c4;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.ui-accordion-title:hover {
    cursor: pointer;
}

.ui-accordion-content {
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
}