<div class="jumbotron">

        <h3> {{ app }} </h3>
        <div ng-show="error" ui-alert title="Aconteceu um problema!">
            {{ error }}
        </div>

        <ui-accordions>
            <ui-accordion title="Accordion 1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Laboriosam quo sed aspernatur consequuntur necessitatibus 
                debitis earum quia iste. Doloribus id distinctio tempora minima enim 
                dicta culpa accusamus, exercitationem cumque neque.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Laboriosam quo sed aspernatur consequuntur necessitatibus 
                debitis earum quia iste. Doloribus id distinctio tempora minima enim 
                dicta culpa accusamus, exercitationem cumque neque.
            </ui-accordion>
    
            <ui-accordion title="Accordion 2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Laboriosam quo sed aspernatur consequuntur necessitatibus 
                debitis earum quia iste. Doloribus id distinctio tempora minima enim 
                dicta culpa accusamus, exercitationem cumque neque.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Laboriosam quo sed aspernatur consequuntur necessitatibus 
                debitis earum quia iste. Doloribus id distinctio tempora minima enim 
                dicta culpa accusamus, exercitationem cumque neque.
            </ui-accordion>
        </ui-accordions>


        <hr />

        <input type="text" ng-model="busca" placeholder="O que você está buscando?" 
        class="form-control">
        
        <table ng-show="contatos.length > 0" class="table">
            <thead>
                <th></th>
                <th>Serial</th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
            </thead>
            <tbody>
                <tr ng-class="{selecionado: contato.selecionado}" 
                    ng-repeat="contato in contatos | filter:{nome: busca} | orderBy: ordenacao : direcaoDaOrdenacao">
                    <td>
                        <input type="checkbox" ng-model="contato.selecionado">
                    </td>
                    <td>
                        {{ contato.serial }}
                    </td>
                    <td> 
                        {{ contato.nome | name | elipseFilter:10 }}
                    </td>
                    <td> 
                        {{ contato.telefone }}
                    </td>
                    <td> 
                        {{ contato.data | date:'EEE, dd/MM/yyyy, HH:mm' }}
                    </td>
                    <td> 
                        {{ contato.operadora.nome + ' - ' + contato.operadora.codigo }}
                    </td>
                </tr>
            </tbody>
        </table>



        <hr/>

        <a class="btn btn-success btn-block" href="#/contatos/novo">Novo contato</a>
    </div>