<div class="container" style="margin-top: 30px;">
    <div class="jumbotron" style="height: 100%; width: 100%">
            <div> 
                <h2> Lista telefônica </h2>
                <br />
                <a href="#/contatos" class="btn btn-info"> Ver lista de Contatos </a> 
            </div>
    </div>
</div>