<div class="jumbotron">
        <h2> Novo contato </h2>
        <br />
        <form name="contatoForm">
                <span> Nome </span>
                <input type="text" ng-model="contato.nome" ng-minlength="10" 
                    placeholder="Nome" 
                    class="form-control" ng-required="true" name="nome">
                <br />
                <div 
                    ng-show="contatoForm.nome.$dirty"
                    ng-messages="contatoForm.nome.$error" 
                    class="alert alert-danger">
                    <div 
                        ng-message="required"
                    >
                        <span> Por favor, preencha o nome. </span>
                    </div>
                    <div 
                        ng-message="minlength" 
                    >
                        <span> Este campo deve ter, no mínimo, 10 caracteres. </span>
                    </div>
                </div>
                <span> Telefone </span>
                <input type="text" ng-model="contato.telefone" placeholder="Telefone" 
                    ng-pattern="/^\d{4,5}-\d{4}$/"
                    class="form-control" ng-required="true" name="telefone">
                <br/>
                <div
                    class="alert alert-danger"
                    ng-show="contatoForm.telefone.$dirty" 
                    ng-messages="contatoForm.telefone.$error">
                    <div 
                        ng-message="required"
                    >
                        <span> Por favor, preencha o telefone. </span>
                    </div>
                    <div 
                        ng-message="pattern" 
                    >
                        <span> Este campo deve ter o formato DDDD-DDDD ou DDDDD-DDDD. </span>
                    </div>
                </div>
                <select 
                    class="form-control"
                    ng-model="contato.operadora"
                    ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' 
                    group by operadora.categoria for operadora in operadoras | 
                    orderBy: 'nome'"
                >
                    <option value=""> Selecione uma operadora </option>
                </select>
            </form>

            <div>
                    <br />
                    <button
                        class="btn btn-primary btn-block" 
                        ng-click="AdicionarContato(contato)"
                        ng-disabled="contatoForm.$invalid"
                    > 
                        Adicionar contato 
                    </button>
                    <br />
                    <a
                        href="#/contatos"
                        class="btn btn-danger btn-block" 
                    > 
                        Voltar 
                    </a>
            </div>
</div>